html, body {
    background: #e0e0e0;
    margin: 0;
    height: 800px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    text-align: center;
}

.title {
    color: #747474;
}

canvas {
    display: block;
}